Source: innotop
Section: database
Priority: optional
Maintainer: Innotop Developers <eslocombe@gmail.com>
Build-Depends:
 debhelper-compat (= 13),
 perl,
 libdbi-perl,
 libdbd-mysql-perl,
 libterm-readkey-perl,
Standards-Version: 4.7.2
Homepage: https://github.com/innotop/innotop
Vcs-Git: https://github.com/innotop/innotop.git
Vcs-Browser: https://github.com/innotop/innotop
Rules-Requires-Root: no

Package: innotop
Architecture: all
Depends:
 ${perl:Depends},
 ${misc:Depends},
 libdbi-perl,
 libdbd-mysql-perl (>= 1.2202),
 libterm-readkey-perl,
Description: real-time terminal-based top-like monitor for MySQL
 MySQL and InnoDB transaction/status monitor. Like 'top' for MySQL. Displays
 queries, InnoDB transactions, lock waits, deadlocks, foreign key errors, open
 tables, replication status, buffer information, row operations, logs, I/O
 operations, load graph, and more. You can monitor many servers at once with
 innotop.
